<%= form_with(model: user_product,local: true) do |form| %>
  <% if user_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_product.errors.count, "error") %> prohibited this user_product from being saved:</h2>

      <ul>
      <% user_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  </div>

    <%= form.collection_select :category_id, @categories, :id, :name %>
    <%# <%= form.collection_select :product_id, @products, :id, :sku %> %>
    <%= form.collection_select :style_id, @styles, :id, :name %>



 <p>Size and color will display based on the product chosen</p>
    <%= form.select :color, [["WHITE"], ["BLACK"], ["BLUE"], ["PINK"]] %>


    <%= form.select :size, [["S"], ["M"], ["L"], ["XL"], ["2XL"]] %>

    <%# <%= form.collection_check_boxes(:front_print_location, PrintLocation.all, :id, :name, :multiple => true) do |c| %> %>
      <%# <%= c.label class:"form-check-inline" do %> %>
        <%# <%= c.check_box + c.text %> %>
      <%# <% end %> %>
    <%# <% end %> %>

    <br>
    Fulfillment location <%= form.select :country, [["UK"], ["US"]] %>

    <br>
    Front Print File<%= form.file_field :front_print %>
    <br>
    Back Print File<%= form.file_field :back_print %>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
