<strong>Choose product existing.</strong>
<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form.select :product_id, options_for_select(@user_products.collect { |u| [ u.product.sku] }) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<strong>Or Create a new product for an orders</strong>

<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Category (once chosen will display Style's to choose) <%= form.collection_select :category_id, @categories, :id, :name %>
<br>


   Style (Once chosen will display Merchandise to choose) <%= form.collection_select :style_id, Style.all, :id, :name %>
<!-- <br>
  Merchandise (Once chosen will display mockup generator with size, color, file upload locations, and fulfillment locations)<%= form.collection_select :product_id, Product.all, :id, :sku %> -->
<br>
  Fulfillment Location <%= form.select :country, [["US"], ["UK"]] %>
  <br>
  <%= form.select :color, [["WHITE"], ["BLACK"], ["BLUE"], ["PINK"]] %>
  <%= form.select :size, [["S"], ["M"], ["L"], ["XL"], ["2XL"]] %>
  <br>
  Front Print File<%= form.file_field :front_print %>
  <br>
  Back Print File<%= form.file_field :back_print %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
